

<div>
    <footer class="max-w-full mx-auto text-white bg-gray-300/50 mt-10">
      <div class='2xl:max-w-7xl xl:max-w-6xl md:max-w-5xl mx-auto px-16'>
        <div class='pt-10'>
          <div class='grid grid-cols-1 md:grid-cols-4 gap-5 sm:gap-0 mx-5 sm:m-0'>

            {% comment %}  Colamn-1  {% endcomment %}
            <div>
              <div>
                <a href='/' class=' font-bold font-[roboto] tracking-wider text-gray-800 text-2xl'>Def<span class='text-green-600 underline'>Stock</span></a>
              </div>
              <div class='inline-block mt-2.5'>
                <p class=' text-normal text-gray-700 font-normal font-[roboto] py-1.5  hover:text-red-400 hover:cursor-pointer'>Press</p>
                <p class=' text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Blogs</p>
                <p class=' text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Our Team</p>
              </div>
            </div>
              

             {% comment %} Colamn-2  {% endcomment %}
            <div>
                <div>
                  <a href='/' class=' text-xl font-semibold text-gray-700'>Help</a>
                </div>
                <div class='inline-block mt-2.5'>
                  <p class='text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>FAQ</p>
                  <p class='text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Contact us</p>
                  <p class='text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Author Wanted</p>
                  <p class='text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Improve HealthClub</p>
                  
                </div>
              </div>


              {% comment %} Colamn-3  {% endcomment %}
              <div>
                <div>
                  <a href='/' class=' text-xl font-semibold text-gray-700'>Legal</a>
                </div>
                <div class='inline-block mt-2.5'>
                  <p class='text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Terms of use</p>
                  <p class='text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Privacy Policy</p>
                  <p class='text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Cookies Policy </p>
                  <p class='text-normal text-gray-700 font-normal font-[roboto] py-1.5 hover:text-red-400 hover:cursor-pointer'>Copyright</p>
                  
                </div>
              </div>

            {% comment %} Colamn-4  {% endcomment %}
            <div class='flex flex-col justify-between mt-2 sm:mt-0 sm:ml-5 ml-0'>
              <div>
                <div class='text-xl font-semibold text-gray-700'>Subscribe Now</div>
                <div class='flex flex-col mt-4'>
                  <label class='text-gray-700 text-xl font-normal mb-2'>Email Address</label>
                  <input type='email' class='border border-gray-300 rounded-sm p-1.5 mb-2.5' placeholder='Enter your Email Address' />
                  <button class='text-md font-medium font-[roboto] bg-red-500 text-white hover:bg-red-500/80 rounded-md p-2 h-auto '>Subscribe</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='bg-gray-300/60 w-full h-auto mt-12 py-5 flex flex-col justify-center'>
        <div class='flex justify-center items-center align-middle'>
          <span class='text-gray-600 text-md sm:text-lg font-normal ' >Privacy Policy&nbsp;|</span><vr />
          <span class='text-gray-600 text-md sm:text-lg font-normal '>&nbsp;Terms & Conditions</span>
        </div>
        <div class='flex justify-center items-center align-middle'>
          <span class='text-gray-600 text-sm sm:text-md font-normal  ' >&copy;2020-Present&nbsp;|</span><vr />
          <span class='text-gray-600 text-sm sm:text-md font-normal '>&nbsp;Medbit Technology</span>
        </div>

      </div>
    </footer>
 
</div>